html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}
body main {
  max-width: 100vw;
  position: relative;
}
body main .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100vw;
  height: 33vh;
  background: #f00;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
body main .flex-item {
  -ms-flex-preferred-size: 33.333333333333336vw;
      flex-basis: 33.333333333333336vw;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  position: relative;
  background: #ff0;
  height: 50%;
}
body main .flex-item .hero-img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
body main .close-btn {
  position: absolute;
  right: 0;
}
body main .search-wrapper {
  position: relative;
  z-index: 999;
}
body main .search-wrapper .search {
  position: absolute;
  width: 100%;
  text-align: center;
  top: -17.5px;
}
body main .search-wrapper .search .search-bar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 35px;
  width: 350px;
  margin: auto;
  text-align: center;
}
body main .search-wrapper .search .search-list {
  width: 335px;
  margin: auto;
}
body main .search-wrapper .search .search-list.hidden {
  display: none;
}
body main .search-wrapper .search .search-list li {
  padding: 0.4rem;
  border: 1px solid rgba(255,129,0,0.169);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  background: rgba(255,254,254,0.902);
}
body main .search-wrapper .search .search-list li:hover {
  border: 1px solid rgba(255,129,0,0.4);
  letter-spacing: 1px;
}
body main .recommend-wrapper {
  height: 67vh;
  position: relative;
}
body main .recommend-wrapper .btn {
  position: absolute;
}
body main .recommend-wrapper .btn.btn-left {
  left: 0;
  top: 50%;
}
body main .recommend-wrapper .btn.btn-right {
  right: 0;
  top: 50%;
}
body main .recommend-wrapper .hero-img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
