@require './_*.styl'

maxwidth = 100vw
maxheight = 100vh
search-bar-height = 35px
search-width = 350px

centered(selfSize)
  maxwidth / 2 - selfSize / 2

body
  box-sizing border-box
  width maxwidth
  height maxheight
  main
    max-width maxwidth
    // margin 0.5vh auto
    position relative
    .flex-container
      display flex
      flex-wrap wrap
      max-width maxwidth
      height round(maxheight/3)
      background red
      justify-content flex-start

    .flex-item
      flex-basis (maxwidth / 3)
      flex-grow 0
      position relative
      //padding 2px
      background yellow
      height 50%

      .hero-img
        height 100%
        object-fit cover
        width 100%

    .close-btn
      position absolute
      right 0

    .search-wrapper
      position relative
      z-index: 999
      .search
        position absolute
        width 100%
        text-align center
        // display flex
        // flex-direction column
        top -(search-bar-height/2)px

        .search-bar
          box-sizing border-box
          //position absolute
          height search-bar-height
          //top -(@height/2)px
          width search-width
          //left centered(@width)
          margin auto
          text-align center

        .search-list
          width search-width - 15px
          margin auto
          // background blue

          li
            padding 0.4rem
            border 1px solid rgba(#ff81002b)
            transition all 0.1s
            background rgba(#fffefee6)
            &:hover
              border 1px solid rgba(#ff810066)
              letter-spacing 1px

    .recommend-wrapper
      height round(maxheight/3*2)
      position relative
      .btn
        position absolute
        &.btn-left
          left 0
          top 50%
        &.btn-right
          right 0
          top 50%
      .hero-img
        height 100%
        object-fit cover
        width 100%
